.navbar {
    min-height: 80px;
    height: auto;
    background: rgba(60, 60, 60, 1);
    font-size: 1.2rem;
    z-index: 20;
}

.navbar .navbar-logo {
    min-height: 80px;
    height: auto;
    text-transform: uppercase;
    display: flex;
    box-sizing: border-box;
    padding-left: 50px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.navbar .navbar-logo span {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 7.536px;
    line-height: 9px;
    letter-spacing: 0.45em;
    margin: 10px 50px 0 40px;
}

.navbar-menu ul li a {
    text-transform: uppercase;
    font-size: 15px;
}

.navbar-menu ul li a:hover {
    color: #f5b921;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    height: 100%;
    border-bottom: 3px solid transparent;
}

.fa-code {
    margin-left: 1rem;
}

.nav-item {
    position: relative;
    line-height: 20px;
    margin-right: 1rem;
}

.nav-item:after {
    position: absolute;
    top: 80%;
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
    width: 100%;
    background: #ffdd40;
}

.nav-item.active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
}

.nav-icon {
    display: none;
}

@media screen and (max-width: 992px) {

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 1px solid #fff;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #000000;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-item .active {
        color: #ffdd40;
        border: none;
    }

    .nav-links {
        padding: 1.2rem 1rem;
        width: 100%;
        display: table;
    }

    .nav-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 50px;
        transform: translate(-100%, 50%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #ffdd40;
        -webkit-transform: translate(-100%, 50%);
        -moz-transform: translate(-100%, 50%);
        -ms-transform: translate(-100%, 50%);
        -o-transform: translate(-100%, 50%);
}
}